<form [formGroup]="chipForm">
    <cob-multi-chips formControlName="chips" scrollPercent="90" (onScroll)="onScroll()" [placeholder]="placeholder" [options]="options" (onQuery)="onQuery($event)" [threshold]="0"></cob-multi-chips>
    <!-- <cob-chip formControlName="chip" [placeholder]="placeholder" [options]="options" (onQuery)="onQuery($event)" [threshold]="0"></cob-chip> -->
    <ng-template #myTemplate let-item="item">
        {{item.name}} {{item.last}}
    </ng-template>
</form>
<button (click)="log()">Log</button>