.chip-container {
    // padding: 4px 16px;
    border: 1px solid #BDBDBD;
    resize: both;
    border-radius: 6px;
    overflow: auto;
    transition: all 500ms ease;

    .chip {
        margin: 8px;
        display: inline-block;
        padding: 0 16px;
        font-size: 11pt;
        line-height: 34px;
        border-radius: 25px;
        background-color: #F1F1F1;

        .closebtn {
            padding-left: 10px;
            color: #888;
            font-weight: bold;
            float: right;
            font-size: 20px;
            cursor: pointer;
            transition: all 300ms ease;

            &:hover {
                color: #000;
            }
        }
    }

    .query {
        outline: none;
        border: none;
        font-size: 11pt;
    }

    .options-box {
        position: absolute;
        max-height: 10em;
        overflow: scroll;
        width: 96%;
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(30, 30, 30, 0.3);
        transition: all 400ms ease;
        
        .option {
            font-size: 11pt;
            padding: 10px 16px;
            background: #FAFAFA;
            border-bottom: 1px solid #E0E0E0;
            cursor: pointer;

            &:hover {
                background: #F5F5F5;
            }
        }
    }
}